<% ctg.forEach(category => { if(category.name === "jeans") { %>
    <div class="carousel-item active">
      <a href="/navbar?name=<%= category.name %>">
        <img class="d-block w-100" src="/carousel/ <%= category.name %>.jpg" alt="First slide">
      </a>
    </div>
    <% } else {%>
      <div class="carousel-item">
        <a href="/navbar?name=<%= category.name %>">
          <img class="d-block w-100" src="/carousel/ <%= category.name %>.jpg" alt="First slide">
        </a>
      </div>
      <% }}) %>